<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/w3.css' %}">
    <title>Add User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Add a pacient</h1>
        <div>
           <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save"/>
            </form>
        </div>
    </div>
</body>
</html>