{% extends 'webapp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Add a user</h1>

        {% if messages %}
    <ul class="w3-card w3-sand">
        {% for message in messages %}
            <br/>
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
            {{ message }}
        </li>
        {% endfor %}
    <br/>
    </ul>
    {% endif %}

        <div>
           <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {{ profile_form|crispy }}
            <input type="submit" value="Save"/>
            </form>
        </div>
    </div>
{% endblock %}
