<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/w3.css' %}">
    <title>3 M´s</title>
</head>
<body>

    {% block menu %}
    {% endblock %}

    <div class="w3-display-container w3-card">
        <br/>
        <img src="{% static 'webapp/images/base.jpg' %}" alt="Lights" style="width:100%"/>
        <div class="w3-display-bottomleft  w3-round-medium w3-padding"><small class="w3-text-black">
            {% if user.is_authenticated %}
                <p><b>Loged in as:</b> {{ user.username }}</p>
            {% else %}
                <p>Not loged in!</p>
            {% endif %}
        </small></div>
    </div>


    <div style=" position:center;" class=" w3-padding">
    {% block content %}

    {% endblock %}
    </div>

</body>
</html>