<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/w3.css' %}">
    <title>3 M´s</title>
</head>
<body>

    {% block menu %}
    {% endblock %}



    <div class="w3-display-container w3-card">
        <br/>
        <img src="{% static 'webapp/images/base.jpg' %}" alt="Lights" style="width:100%"/>
        <div class="w3-display-bottomleft  w3-round-medium w3-padding"><small class="w3-text-black">
            {% if user.is_authenticated %}
                <p><b>Loged in as:</b> {{ user.username }}</p>
            {% else %}
                <p>Not loged in!</p>
            {% endif %}
        </small></div>
    </div>




    <div style="width:70%; position:center; float: right" class=" w3-padding">
    {% block content %}

    {% endblock %}
    </div>

</body>
</html>