{% extends 'webapp/index.html' %}

{% block content %}
    {% if form.errors %}
    <p>Incorrect fields!</p>
    {% endif %}

    {% if message %}
    <p>{{message}}</p>
    {% endif %}

    {% if next %}
        <p>Não pode aceder a esta página!</p>
    {% endif %}

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <form method="post" action="{% url 'webapp:login' %}">
        {% csrf_token %}

        <div>
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>


            <input type="submit" value="Login" class="w3-button w3-black w3-round"/>
        </div>
        <!--<input type="hidden" name="next" value="{{ next }}"/>-->
    </form>
{% endblock %}