{% extends 'webapp/index.html' %}

{% block content %}

    <br/>
    <br/>
    <br/>

    <center>
    <form method="post" action="{% url 'webapp:login' %}">
        {% csrf_token %}

        <div>
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>

            <input type="submit" value="Login" class="w3-button w3-black w3-round"/>
        </div>
        <!--<input type="hidden" name="next" value="{{ next }}"/>-->
    </form>
    </center>

    <br/>
    {% if form.errors %}
        <center>
            <p>Incorrect username or password! Please, try again.</p>
        </center>

    {% endif %}
{% endblock %}