{% extends "webapp/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Upload Drugs txt</h2>

    <p>Please submit a file.txt with one user per lina and the arguments
    separated by ";".</p>

    {% if messages %}
    <ul class="w3-card w3-sand">
        {% for message in messages %}
            <br/>
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
            {{ message }}
        </li>
        {% endfor %}
    <br/>
    </ul>
    {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
      <br/>
    <button type="submit" class="w3-button w3-black w3-round w3-hover-teal">Upload txt</button>
  </form>
{% endblock %}